# Directorios de Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Directorios de la aplicación
downloads/
logs/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo